In [16]:
from datasets import Dataset, DatasetDict
import pandas as pd

# Load Df

In [28]:
df = pd.DataFrame({
    'text': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'label': [True, False, True, False, True, False, True, False, False, False]
})
df

   text  label
0     1   True
1     2  False
2     3   True
3     4  False
4     5   True
5     6  False
6     7   True
7     8  False
8     9  False
9    10  False

# Train, Test Split

In [29]:
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.3, random_state=42)

In [30]:
train_df

   text  label
0     1   True
7     8  False
2     3   True
9    10  False
4     5   True
3     4  False
6     7   True

In [31]:
test_df

   text  label
8     9  False
1     2  False
5     6  False

# Turing to Huggingface Dataset

In [44]:
# Convert DataFrame to Hugging Face Dataset
train_dataset = Dataset.from_pandas(train_df)
train_dataset = train_dataset.remove_columns(["__index_level_0__"])
train_dataset

Dataset({
    features: ['text', 'label'],
    num_rows: 7
})

In [45]:
test_dataset = Dataset.from_pandas(test_df)
test_dataset = test_dataset.remove_columns(["__index_level_0__"])
test_dataset

Dataset({
    features: ['text', 'label'],
    num_rows: 3
})

# Turning to Huggingface DatasetDict

In [46]:
# Create a DatasetDict from the single dataset
dataset_dict = DatasetDict({'train': train_dataset, 'test': test_dataset})
dataset_dict

DatasetDict({
    train: Dataset({
        features: ['text', 'label'],
        num_rows: 7
    })
    test: Dataset({
        features: ['text', 'label'],
        num_rows: 3
    })
})

In [48]:
dataset_dict["train"][3]

{'text': 10, 'label': False}